@{
    ViewData["Title"] = "Delete";
}

<form method="post" action="action_page.php">
    <div class="container">
        <h1>Entry</h1>
        <p>Please fill in this form to entry.</p>
        <hr>

        <label for="user name"><b>User name</b></label>
        <input type="text" placeholder="Enter user name" id="email" name="email" required>


        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>



        <hr>
        <button type="submit" class="registerbtn" asp-area="" asp-controller="Home" asp-action="Entry">Entry</button>
    </div>

</form>
